body {
    background-color: black;
    /*--This changes the font for the entire website to Helvetica.*/
    font-family: Helvetica;
    color: yellow;
}

nav a{
    color: yellow;    
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 30px;
}

h1 {
    text-align:  center;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

img {
    width: 350px; 
    height: auto;
}#About{
    height: 157px;
    text-align: center;
}
#AboutNav{
    height: 157px;
}

#ProjectNav{
    height: 569px;
}

#TechnologyNav{
    height: 399px;
}

.modal-header{
    background-color: #282828;
}

.modal-body{
    background-color: #282828
}

.modal-footer{
    background-color: #282828
}

.jumbotron{
    background-color: #282828
}