body {
    background-color: black;
    /*--This changes the font for the entire website to Helvetica.*/
    font-family: Helvetica;
    color: yellow;
}

nav a{
    color: yellow;    
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 30px;
}