body {
    background-color: black;
    /*--This changes the font for the entire website to Helvetica.*/
    font-family: Helvetica;
    color: yellow;
}

nav a{
    color: yellow;    
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 30px;
}

h1 {
    text-align:  center;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

img {
    width: 350px; 
    height: auto;
}
#AboutNav{
    height: 112px;
}

#ProjectNav{
    height: 337px;
}

#TechnologyNav{
    height: 399px;
}